* {
  padding: 0;
  margin: 0;
}
.container {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
h1 {
  font-family: Arial;
  font-size: 40px;
  text-transform: uppercase;
  color: #f87b15;
}
ul li {
  font-size: 20px;
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
ul li:hover {
  font-size: 25px;
}
.background {
  background-color: #fff;
  height: auto;
  padding: 50px;
  border-radius: 30px;
  /*vidromorfia*/
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
